<!DOCTYPE HTML>

<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Backbone! Day Planner</title>

    <link rel="stylesheet" href="css/app.css">
    <script src="js/lib/jquery-1.10.1.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <form action="post">
      <input type="text" id="task"  placeholder="New Task">
      <input type="text" id="hour"  placeholder="Hour">
      <input type="submit">
    </form>
    <div id="container"></div>

    <script type="text/template" id="day-template">
      <h1>Day: <%= day %></h1>
      <ul></ul>
    </script>

    <script type="text/template" id="hour-template">
      Hour: <%= hour %> | Task: <%= task %>
    </script>
  </body>
</html>